**Premier League 2020-2021**

Dados encontrados em: https://www.football-data.co.uk/englandm.php

Manipulação feita originalmente por mim, projeto livre.

In [ ]:
!pip install pandera

Collecting pandera
  Downloading pandera-0.6.5-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 3.1 MB/s
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.6.5 typing-inspect-0.7.1

In [ ]:
import pandas as pd
import pandera as pa

In [ ]:
df_original = pd.read_csv('/content/premierleague.csv', delimiter = ',', parse_dates=['Date'], dayfirst=True)
df_original

    Div       Date   Time          HomeTeam  ... MaxCAHH  MaxCAHA  AvgCAHH AvgCAHA
0    E0 2020-09-12  12:30            Fulham  ...    2.13     1.92     2.02    1.87
1    E0 2020-09-12  15:00    Crystal Palace  ...    1.85     2.18     1.79    2.12
2    E0 2020-09-12  17:30         Liverpool  ...    1.90     2.16     1.84    2.04
3    E0 2020-09-12  20:00          West Ham  ...    2.09     1.91     2.02    1.86
4    E0 2020-09-13  14:00         West Brom  ...    1.95     2.01     1.91    1.97
..   ..        ...    ...               ...  ...     ...      ...      ...     ...
375  E0 2021-05-23  16:00         Liverpool  ...    1.98     2.14     1.88    2.00
376  E0 2021-05-23  16:00          Man City  ...    2.20     2.00     2.03    1.85
377  E0 2021-05-23  16:00  Sheffield United  ...    2.17     1.90     2.03    1.84
378  E0 2021-05-23  16:00          West Ham  ...    2.06     2.01     1.99    1.89
379  E0 2021-05-23  16:00            Wolves  ...    2.10     1.94     2.00    1.88

[380 rows x 106 columns]

Como existem muitas colunas, irei criar um novo DF para trabalhar com colunas específicas.

In [ ]:
df = df_original.loc[:, ['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'Referee', 'FTHG', 'FTAG']]
df

    Div       Date   Time  ...     Referee FTHG FTAG
0    E0 2020-09-12  12:30  ...  C Kavanagh    0    3
1    E0 2020-09-12  15:00  ...      J Moss    1    0
2    E0 2020-09-12  17:30  ...    M Oliver    4    3
3    E0 2020-09-12  20:00  ...   S Attwell    0    2
4    E0 2020-09-13  14:00  ...    A Taylor    0    3
..   ..        ...    ...  ...         ...  ...  ...
375  E0 2021-05-23  16:00  ...    C Pawson    2    0
376  E0 2021-05-23  16:00  ...    M Oliver    5    0
377  E0 2021-05-23  16:00  ...    K Friend    1    0
378  E0 2021-05-23  16:00  ...  M Atkinson    3    0
379  E0 2021-05-23  16:00  ...      M Dean    1    2

[380 rows x 8 columns]

*Iremos analisar se existem todos os dados ou se há dados ausentes*

In [ ]:
df.count()

Div         380
Date        380
Time        380
HomeTeam    380
AwayTeam    380
Referee     380
FTHG        380
FTAG        380
dtype: int64

In [ ]:
df.dtypes

Div                 object
Date        datetime64[ns]
Time                object
HomeTeam            object
AwayTeam            object
Referee             object
FTHG                 int64
FTAG                 int64
dtype: object

*Como a coluna 'Date' está do tipo objeto, iremos transformar no tipo data*

*(iremos fazer as modificações na leitura do csv)*

- df_original = pd.read_csv('/content/premierleague.csv', delimiter = ',',     parse_dates=['Date'], dayfirst=True)

In [ ]:
df.dtypes

Div                 object
Date        datetime64[ns]
Time                object
HomeTeam            object
AwayTeam            object
Referee             object
FTHG                 int64
FTAG                 int64
dtype: object

# **Etapa de Validação**

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        'Div': pa.Column(pa.String),
        'Date': pa.Column(pa.DateTime),
        'Time': pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5]?[0-9])?$')),
        'HomeTeam': pa.Column(pa.String),
        'AwayTeam': pa.Column(pa.String),
        'Referee': pa.Column(pa.String),
        'FTHG': pa.Column(pa.Int),
        'FTAG': pa.Column(pa.Int)
    }
)

In [ ]:
schema.validate(df)

    Div       Date   Time  ...     Referee FTHG FTAG
0    E0 2020-09-12  12:30  ...  C Kavanagh    0    3
1    E0 2020-09-12  15:00  ...      J Moss    1    0
2    E0 2020-09-12  17:30  ...    M Oliver    4    3
3    E0 2020-09-12  20:00  ...   S Attwell    0    2
4    E0 2020-09-13  14:00  ...    A Taylor    0    3
..   ..        ...    ...  ...         ...  ...  ...
375  E0 2021-05-23  16:00  ...    C Pawson    2    0
376  E0 2021-05-23  16:00  ...    M Oliver    5    0
377  E0 2021-05-23  16:00  ...    K Friend    1    0
378  E0 2021-05-23  16:00  ...  M Atkinson    3    0
379  E0 2021-05-23  16:00  ...      M Dean    1    2

[380 rows x 8 columns]

*Criando uma nova coluna -> Date + Time*

In [ ]:
df['Date_Time'] = pd.to_datetime(df.Date.astype(str) + ' ' + df.Time)
df

    Div       Date   Time  ... FTHG FTAG           Date_Time
0    E0 2020-09-12  12:30  ...    0    3 2020-09-12 12:30:00
1    E0 2020-09-12  15:00  ...    1    0 2020-09-12 15:00:00
2    E0 2020-09-12  17:30  ...    4    3 2020-09-12 17:30:00
3    E0 2020-09-12  20:00  ...    0    2 2020-09-12 20:00:00
4    E0 2020-09-13  14:00  ...    0    3 2020-09-13 14:00:00
..   ..        ...    ...  ...  ...  ...                 ...
375  E0 2021-05-23  16:00  ...    2    0 2021-05-23 16:00:00
376  E0 2021-05-23  16:00  ...    5    0 2021-05-23 16:00:00
377  E0 2021-05-23  16:00  ...    1    0 2021-05-23 16:00:00
378  E0 2021-05-23  16:00  ...    3    0 2021-05-23 16:00:00
379  E0 2021-05-23  16:00  ...    1    2 2021-05-23 16:00:00

[380 rows x 9 columns]